__pycache__/
.idea/
venv/
reef/local_db_setting.py
db.sqlite3
reef_test.sqlite3
.coverage
sh.exe.stackdump
media/
reef/uwsgi.pid
media/system/reef.log
log/reef.log
static/
log/debug.log
coverage_report/
项目质量报告.xls
apiv1/management/commands/annotation/unit_test_count.txt
reef.sock
..\\log/
log
.DS_Store
_trial_temp